@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,400i,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css");
html {
  font-size: 16px;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  margin: 0 auto;
}

@media (min-width: 0px) {
  .container {
    max-width: 280px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 724px;
  }
}

@media (min-width: 1170px) {
  .container {
    max-width: 1170px;
  }
}

.logo {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 48px;
}

.logo__heading {
  margin-left: 11px;
  font-size: 2.75rem;
  font-weight: 700;
  color: #454545;
  -webkit-text-decoration: 2.4rem;
          text-decoration: 2.4rem;
  text-transform: uppercase;
}

.header__top-panel {
  height: 27px;
  background-color: #f6f6f6;
}

.header__menu-person {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-settings {
  margin-top: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link-wrapper_sm-only {
  display: none;
}

.header__link-wrapper_wider-only {
  display: none;
}

.header__link-wrapper_lg-only {
  display: none;
}

.header__top-nav-link {
  display: block;
  font-size: 0.6875rem;
  font-weight: 400;
  color: #7e7e7e;
  text-decoration: none;
  line-height: 0.6rem;
  text-transform: uppercase;
}

.header__top-nav-link:hover {
  text-decoration: underline;
}

.header__authorise {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__authorise-span {
  margin: 0 8px;
}

.header__form {
  position: relative;
  margin-top: 24px;
}

.header__form-submit {
  position: absolute;
  top: 9px;
  right: 2px;
  border: none;
  background-color: transparent;
}

.header__input {
  height: 38px;
  width: 280px;
  padding: 12px 26px 12px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e1e1e1;
  font-size: 0.6875rem;
  font-weight: 400;
  color: #7e7e7e;
  text-decoration: none;
  line-height: 0.6rem;
}

.header__input::-webkit-input-placeholder {
  font-size: 0.6875rem;
  font-weight: 400;
  color: #7e7e7e;
}

.header__input::-moz-placeholder {
  font-size: 0.6875rem;
  font-weight: 400;
  color: #7e7e7e;
}

.header__input:-moz-placeholder {
  font-size: 0.6875rem;
  font-weight: 400;
  color: #7e7e7e;
}

.header__input:-ms-input-placeholder {
  font-size: 0.6875rem;
  font-weight: 400;
  color: #7e7e7e;
}

.header__drop-down-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main-nav-link {
  font-size: 14px;
  font-weight: 700;
  color: #565656;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 18px;
}

.header__main-nav-link_heading {
  font-size: 16px;
}

.header__main-nav-link:hover {
  text-decoration: underline;
}

.header__drop-down-mobile-nav-icon {
  margin-right: 10px;
}

.header__drop-down-mobile {
  padding: 26px 0;
}

.header__drop-down-mobile-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__drop-down-mobile-cart-price {
  font-size: 16px;
  font-weight: 400;
  color: #565656;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 9px;
}

.header__main-nav {
  display: none;
}

.header__main-nav-menu {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__main-nav-logo {
  display: none;
}

.arrow-down {
  font-size: 0.5rem;
}

@media (min-width: 768px) {
  .header__top-panel-inside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__top-nav {
    margin: 0 -15px;
  }
  .header__menu-settings {
    margin: 0;
    padding-top: 10px;
  }
  .header__link-wrapper_sm-only {
    display: block;
  }
  .header__link-wrapper_wider-only {
    display: block;
  }
  .header__top-nav-link {
    margin: 0 15px;
  }
  .header__search-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 34px;
  }
  .header__authorise_wider-only {
    display: none;
  }
  .header__form {
    margin-top: 0;
  }
  .header__drop-down-mobile {
    display: none;
  }
  .header__main-nav {
    display: block;
  }
  .logo {
    margin-top: 0;
  }
}

@media (min-width: 1170px) {
  .logo {
    display: none;
  }
  .header__search-logo {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header__main-nav-menu {
    margin: 0 -25px;
  }
  .header__link-wrapper_sm-only {
    display: none;
  }
  .header__link-wrapper_lg-only {
    display: block;
  }
  .header__main-nav-link {
    margin: 0 25px;
  }
  .header__main-nav-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 262px;
  }
}

.deal-name {
  font-size: 1.625rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.arrow-right {
  display: inline-block;
  font-size: 0.6875rem;
  margin-left: 4px;
}

.slider-btns {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-h2 {
  font-size: 4.6875rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.slider-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  width: 48px;
  border-radius: 48px;
  border: 3px solid #fff;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}

.slider-btn:first-child {
  left: 25px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider-btn:last-child {
  right: 25px;
}

.slider-btn:hover {
  background-color: #fff;
  color: #454545;
}

.more-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.more-btn__arrow-right {
  margin-left: 4px;
  margin-top: -1px;
}

.more-btn:hover {
  text-decoration: underline;
}

.slider-wrapper {
  display: none;
  background-color: #cccccc;
  position: relative;
}

.slider {
  margin-top: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.slider__main-h2 {
  margin: 16px 0;
}

.slider__deal-name {
  color: #555555;
}

.slider-pagination {
  display: none;
  width: 100%;
}

.slider-pagination__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 22px;
  margin: 0 -7px;
}

.slider-pagination__link {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 7px;
  margin: 0 7px;
}

.slider-pagination__link:hover {
  background-color: #fff;
  color: #454545;
}

.pay-less-wrapper {
  background-color: #cccccc;
}

.pay-less {
  padding: 19px 0;
  text-align: center;
  margin-bottom: 20px;
}

.pay-less__text {
  padding: 28px 0;
  border: 1px solid #fff;
}

.pay-less__main-h2 {
  font-size: 2.125rem;
}

.pay-less__deal-name {
  font-size: 0.9rem;
  font-weight: 400;
  color: #fff;
  margin: 13px 0 18px 0;
}

.pay-less__more-btn {
  color: #fff;
  display: block;
}

.deals {
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}

.deals__block-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.deals__block-text-wrapper_block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.deals__block1-text {
  padding: 39px 26px 46px;
  border: 1px solid #fff;
  margin: 10px 10px 32px 10px;
}

.deals__block {
  background-color: #cccccc;
  text-align: center;
  position: relative;
}

.deals__deal-name {
  font-size: 1.3125rem;
}

.deals__deal-name_subdeal {
  font-size: 0.9375rem;
  font-weight: 400;
  margin-top: 10px;
}

.deals__deal-name_block2 {
  font-size: 0.875rem;
  font-weight: 400;
  color: #555555;
  text-transform: lowercase;
}

.deals__deal-name_dark {
  color: #333333;
  margin: 10px 0;
}

.deals__deal-name_dark2 {
  color: #555555;
}

.deals__deal-name_block4 {
  font-weight: 400;
}

.deals__deal-name_block5 {
  font-size: 18px;
  margin: 19px 0;
}

.deals__more-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.deals__more-btn {
  display: block;
  position: absolute;
  bottom: 10px;
}

.deals__more-btn_block5 {
  bottom: 51px;
}

.deals__block2-text {
  margin: 30px 0 448px 0;
}

.deals__main-h2 {
  font-size: 2.1875rem;
  margin-bottom: 13px;
}

.deals__main-h2_block4 {
  font-size: 1.5625rem;
}

.deals__main-h2_block5 {
  font-size: 1.875rem;
}

.deals__main-h2_block6 {
  font-size: 1.75rem;
  margin: 83px 0;
}

.deals__block3-4-text {
  margin: 62px 30px 69px;
}

.deals__block5 {
  position: relative;
}

.deals__block5-text {
  margin-top: 132px;
  margin-bottom: 172px;
}

@media (min-width: 0px) {
  .deals__slider-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  .slider-wrapper {
    display: block;
  }
  .slider {
    height: 428px;
  }
  .slider__text {
    margin-left: auto;
    width: 340px;
  }
  .slider__more-btn {
    color: #333333;
    margin-top: 20px;
  }
  .pay-less-wrapper {
    display: none;
  }
  .deals {
    margin-top: 20px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 266px 154px 154px;
        grid-template-rows: 266px 154px 154px;
    grid-gap: 20px;
  }
  .deals__deal-name {
    font-size: 0.9375rem;
  }
  .deals__block1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .deals__block1-text {
    padding: 47px 65px;
    margin: 0;
  }
  .deals__block2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
  .deals__block2-text {
    margin: 0;
    margin-top: 25px;
  }
  .deals__block3-4-text {
    margin: 0 26px;
  }
  .deals__block4 {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .deals__block5 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .deals__block5-text {
    margin: 0;
  }
  .deals__main-h2_block6 {
    margin: 0;
  }
}

@media (min-width: 1170px) {
  .slider {
    height: 1070px;
  }
  .slider__text {
    width: 340px;
  }
  .slider__main-h2 {
    font-size: 6.25rem;
  }
  .slider-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .slider-pagination__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 22px;
    margin: 0 -7px;
  }
  .slider-pagination__link {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 7px;
    margin: 0 7px;
  }
  .slider-pagination__link:hover {
    background-color: #fff;
    color: #454545;
  }
  .deals {
    margin-top: 60px;
    -ms-grid-rows: 430px 250px 250px;
        grid-template-rows: 430px 250px 250px;
  }
}
/*# sourceMappingURL=style.css.map */