// Mobile first

.logo {
    text-decoration: none;
    @include flex-positioning(center);
    margin-top: 48px;

    &__img {}

    &__heading {
        margin-left: 11px;
        @include text(2.75rem, 700, $t-dark1, 2.4rem, $t-transform: uppercase);
    }
}

.header {
    &__top-panel {
        height: 27px;
        background-color: $bg-gray1;
    }

    &__top-panel-inside {}

    &__top-nav {}

    &__menu-person {
        padding-top: 10px;
        @include flex-positioning(space-between, center);
    }

    &__menu-settings {
        margin-top: 19px;
        @include flex-positioning(space-around, center);
    }

    &__link-wrapper {

        &_sm-only {
            display: none;
        }

        &_wider-only {
            display: none;
        }

        &_lg-only {
            display: none;
        }
    }

    &__top-nav-link {
        display: block;
        @include text(0.6875rem, 400, $t-gray1, none, 0.6rem, uppercase);

        @include hover2;
    }

    &__search-logo {}

    &__arrow-down {}

    &__authorise {
        margin-top: 20px;
        @include flex-positioning(center);
    }

    &__authorise-span {
        margin: 0 8px;
    }

    &__form {
        position: relative;
        margin-top: 24px;
    }

    &__form-submit {
        position: absolute;
        top: 9px;
        right: 2px;
        border: none;
        background-color: transparent;
    }

    &__input {
        height: 38px;
        width: 280px;
        padding: 12px 26px 12px 12px;
        box-sizing: border-box;
        border: 1px solid $gray2;
        @include text(0.6875rem, 400, $t-gray1, none, 0.6rem);
        @include placeholder(0.6875rem, 400, $t-gray1);
    }

    &__drop-down-mobile {
        @include flex-positioning(space-between, center);
    }


    &__main-nav-link {
        @include text(14px, 700, $t-dark2, none, null, uppercase);
        padding-bottom: 18px;

        &_heading {
            font-size: 16px;
        }
        @include hover2;
    }

    &__drop-down-mobile-nav-icon {
        margin-right: 10px;
    }

    &__drop-down-mobile {
        padding: 26px 0;
    }

    &__drop-down-mobile-cart {
        @include flex-positioning(center, center);
    }

    &__drop-down-mobile-cart-price {
        @include text(16px, 400, $t-dark2, none, null, uppercase);
        margin-left: 9px;
    }

    &__main-nav {
        display: none;
    }

    &__main-nav-menu {
        margin-top: 34px;
        @include flex-positioning(space-between);
    }

    &__main-nav-logo {
        display: none;
    }
}



.arrow-down {
    font-size: 0.5rem;
}

// Tablet
@include breakpoint(sm) {
    .header {

        &__top-panel-inside {
            @include flex-positioning(space-between);
        }

        &__top-nav {
            margin: 0 -15px;
        }

        &__menu-settings {
            margin: 0;
            padding-top: 10px;
        }

        &__link-wrapper {

            &_sm-only {
                display: block;
            }

            &_wider-only {
                display: block;
            }
        }

        &__top-nav-link {
            margin: 0 15px;
        }

        &__search-logo {
            @include flex-positioning(space-between, center);
            margin-top: 34px;
        }

        &__authorise {

            &_wider-only {
                display: none;
            }
        }

        &__form {
            margin-top: 0;
        }

        &__drop-down-mobile {
            display: none;
        }

        &__main-nav {
            display: block;
        }
    }

    .logo {
        margin-top: 0;
    }
}

@include breakpoint(lg) {
    .logo {
        display: none;
    }

    .header {

        &__search-logo {
            justify-content: flex-end;
        }

        &__main-nav {
            @include flex-positioning(null, flex-end);
        }

        &__main-nav-menu {
            margin: 0 -25px;
        }

        &__link-wrapper {

            &_sm-only {
                display: none;
            }

            &_lg-only {
                display: block;
            }
        }

        &__main-nav-link {
            margin: 0 25px;
        }

        &__main-nav-logo {
            @include flex-positioning(center);
            margin-right: 262px;
        }
    }

}