$white: #fff;
$bg-gray1: #f6f6f6;
$t-gray1: #7e7e7e;
$t-gray2: #999999;
$t-dark1: #454545;
$gray2: #e1e1e1;
$gray3: #b6b6b6;
$gray4: #888888;
$gray5: #b6b6b6;
$gray6: #aeaeae;
$gray7: #666666;
$gray8: #b5b5b5;
$t-dark2: #565656;
$t-dark3: #333333;
$t-dark4: #2f2f2f;
$t-dark5: #555555;
$t-dark6: #444444;
$t-dark7: #222222;
$dark8: #262626;
$bg-gray2: #cccccc;
$bg-dark: #1f1f1f;